body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
.footer-contato li a {
  padding: 10px;
  background: #141414;
  border-radius: 4px;
}
.header span::before {
  content: "";
  position: absolute;
  background: linear-gradient(#b6f829, #67dd0a);
  width: 10px;
  height: 42px;
  right: 110px;
  top: 0px;
}
.header .nome {
  position: relative;
}
@media (max-width: 400px) {
  .header span::before {
    content: "";
    position: absolute;
    background: linear-gradient(#b6f829, #67dd0a);
    width: 10px;
    height: 64px;
    left: 0px;
    top: 0px;
  }
}
